<h4 class="mb-4">If not <%= @business.name %>, they might also enjoy</h4>

<p>Browse places similar to Zuni Cafe</p>
<div class="row mb-2">
  <div class="col-sm-7">
    <a href='#'><%= @business.categories[0] %> <%= @business.parent_category.downcase %> in <%= @business.address.city %> </a>
  </div>
  <div class="col-sm-5">
    <a href='#'><%= @business.parent_category %> in <%= @business.address.neighborhood %> </a>
  </div>
</div>

<% if @business.categories[1] %>
  <div class="row mb-4">
    <div class="col-sm-7">
      <a href='#'><%= @business.categories[1] %> <%= @business.parent_category.downcase %> in <%= @business.address.city %> </a>
    </div>
    <div class="col-sm-5">
      <a href='#'><%= @business.parent_category %> in <%= @business.address.city %> </a>
    </div>
  </div>
<% end %>

<p>Or perhaps,</p>

<div class="row">
  <div class="col-sm">
    <img src="<%= asset_path('dinner-at-any-restaurant.png')%>" class="img-fluid" alt="Responsive image">
    <p>Dinner at Any restaurant</p>
  </div>
  <div class="col-sm">
    <img src="<%= asset_path('anything-at-any-place.png')%>" class="img-fluid" alt="Responsive image">
    <p>Anything at Any place</p>
  </div>
  <div class="col-sm">
    <img src="<%= asset_path('movies-at-any-theater.png')%>" class="img-fluid" alt="Responsive image">
    <p>Movies at Any theater</p>
  </div>
</div>

<a href='#' class="hyperlink-line">Browse more gift ideas</a>
