<h4 class="text-center">Customizable greeting cards available for every occasion</h4>

<div class="text-center greeting-cards">
  <img src="<%= asset_path('happy-birthday-greeting-card.png')%>" class="img-fluid" alt="Responsive image">
  <img src="<%= asset_path('enjoy-greeting-card.png')%>" class="img-fluid" alt="Responsive image">
  <img src="<%= asset_path('congrats-greeting-card.png')%>" class="img-fluid" alt="Responsive image">
  <img src="<%= asset_path('photo-greeting-card.png')%>" class="img-fluid" alt="Responsive image">
  <img src="<%= asset_path('love-greeting-card.png')%>" class="img-fluid" alt="Responsive image">
  <img src="<%= asset_path('happy-birthday-candles-greeting-card.png')%>" class="img-fluid" alt="Responsive image">
</div>
