<div class="special">
  <%= render "buy_card" %>
</div>

<div class="special">
  <%= render "custom_cards" %>
</div>

<div class="special">
  <h4>About <%= @business.name %></h4>
</div>

<div class="special">
  <%= render "alternatives" %>
</div>

<div class="special border-bottom">
  <%= render "why_giftly" %>
</div>
