<div class="panel border-top-custom">
  <%= render "buy_card" %>
</div>

<div class="panel border-bottom">
  <%= render "custom_cards" %>
</div>

<div class="panel">
  <%= render "business_info" %>
</div>

<div class="panel alternatives">
  <%= render "alternatives" %>
</div>

<div class="panel border-bottom">
  <%= render "why_giftly" %>
</div>
