<!DOCTYPE html>
<html>
  <head>
    <title>Giftly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/x-icon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navigation" %>

    <% if @business %>
      <%= render "shared/breadcrumb" %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="container">
      <div class="special">
        <%= render "shared/help" %>
      </div>
    </div>

    <div class="container">
      <div class="special">
        <%= render "shared/disclosure" %>
    </div>
  </body>
</html>
